$white:#e3f2fd;

$snake_color:rgba(#93c633, 1);
$snake_body_color:rgba(#93c633, .85);

// $food_color: #ff003d;
$food_color: #ffdb50;


// $header_bk : #111;
$header_bk : #293447;
// $board_bk:#222222;
$board_bk:#212837;